@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    padding: 2px 30px;
    background-color: #1F2937;
}

.header {
    background-color: #1F2937;
    color: white;
    font-weight: lighter;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 3px;   
}

img.irmlogo {
    border-radius: 10px;
    margin-left: 0;
    height: 40px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 50px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between; 
    padding: 50px;  
}

.maincontent1 {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    margin-right: 40px;
    height: 250px;
}
.content1-1 {
    font-size: 48px;
    font-weight: bolder;
}

.content1-2 {
    color: #f9faf8;
    font-size: 18px;
}

button.content1-3 {
    background: royalblue;
    border: 1px solid royalblue;
    border-radius: 12px;
    color: white;
    padding: 10px;
}

img.maincontent2 {
    height: 250px;
    border-radius: 15px;
}

.content2 {
    background-color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
    padding-top: 15px;
}
.content2-1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.images {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 30px;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
}
 
img.imagecontent2 {
    border-radius: 7px;
    border-color: #3882f6;
    border-style: solid;
    border-width: 2px;
}

.text {
    color: #1F2937;
    width: 175px;
    padding: 5px;
}

.content3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 60px 100px;
    align-items: end;
}

.content3-1 {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: justify;
    padding: 15px;
    margin-bottom: 10px;
}

.content3-2 {
    font-size: 18px;
    font-weight: bolder;
    color: #1F2937;
    margin-right: 15px;
}

.content4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    color: #f9faf8;
    background-color: #f9faf8;
}

.maincontent4 {
    display: flex;
    background-color: #3882f6;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 200px;
    border-radius: 30px;
    padding-bottom: 10px;
}

.content4-1 {
    font-size:20px;
    text-align: center; 
    margin-bottom: 20px;
}

img.logo1 {
    width: 40px;
    height: 37x;
    margin: 0 10px 3px;
    border-radius: 10px;   
}

img.logo {
    width: 45px;
    height: 45px;
    margin: 0 10px;
    border-radius: 15px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    font-size: 15px;
    color: #f9faf8;
    text-align: center;
    padding: 20px;
}
